<p-button icon="mdi mdi-cog-outline" rounded="true" [raised]="true" variant="text" severity="contrast"
    (click)="openModal()"></p-button>

<p-dialog header="Perguntas" [modal]="true" [(visible)]="modal" [style]="{width: '70vw'}" (onHide)="saveEdit()">
    @if(modal) {
    <p-picklist #myPickList [source]="allQuests" [target]="questsSelected" (onMoveToTarget)="refresh()"
        (onMoveToSource)="refresh()" filterBy="questionText" sourceFilterPlaceholder="Search by name"
        targetFilterPlaceholder="Search by name" (onMoveAllToTarget)="handleMoveAllToTarget($event)"
        (onMoveAllToSource)="handleMoveAllToSource($event)" (onTargetReorder)="refresh()" [dragdrop]="true"
        (onSourceSelect)="sourceSelect($event)">
        <ng-template let-item #item>
            {{ item.questionText }}
        </ng-template>
    </p-picklist>
    <ng-template #footer>
        <div class="flex w-full justify-between">
            <div class="flex gap-2">
                <p-button label="Novo" severity="success" (click)="modalNewEdit(false)"></p-button>
                <p-button label="Editar" severity="warn" (click)="modalNewEdit(true)"
                    [disabled]="!selectedQuest"></p-button>
                <p-button label="Remover" severity="danger" (click)="remover()" [disabled]="!selectedQuest"></p-button>
            </div>
            <p-button label="Salvar" severity="primary" (click)="modal = false"></p-button>
        </div>
    </ng-template>
    }
</p-dialog>
<!-- @if(modalNew){ -->
<p-dialog header="Editar Pergunta" [modal]="true" [(visible)]="modalNew" [style]="{width: '50vw'}">
    <div class="flex flex-col gap-5">
        <div class="flex  flex-col  gap-4 mb-4">
            <label for="pergunta" class="font-semibold ">Pergunta</label>
            <input pInputText id="pergunta" class="flex-auto" autocomplete="off" [(ngModel)]="modalForm.questionText" />
        </div>
        <div class="flex flex-col  gap-4 mb-4">
            <label for="subtitle" class="font-semibold ">Texto de Apoio</label>
            <input pInputText id="subtitle" class="flex-auto" autocomplete="off"
                [(ngModel)]="modalForm.questionSubtext" />
        </div>
        <div class="flex flex-col  gap-4 mb-8">
            <label for="tipoResposta" class="font-semibold ">Tipo de Resposta</label>
            <div class="flex flex-wrap gap-2 justify-between w-full">
                <div>
                    <p-radio-button [(ngModel)]="modalForm.typeResponse" [value]="TypeResponse.text"
                        [inputId]="TypeResponse.text" (change)="changeValueTypeMultiple()"></p-radio-button>
                    <label [for]="TypeResponse.text" class="ml-2">{{TypeResponse.text}}</label>
                </div>
                <div>
                    <p-radio-button [(ngModel)]="modalForm.typeResponse" [value]="TypeResponse.boolean"
                        [inputId]="TypeResponse.boolean" (change)="changeValueTypeMultiple()"></p-radio-button>
                    <label [for]="TypeResponse.boolean" class="ml-2">{{TypeResponse.boolean}}</label>
                </div>
                <div>
                    <p-radio-button [(ngModel)]="modalForm.typeResponse" [value]="TypeResponse.date"
                        [inputId]="TypeResponse.date" (change)="changeValueTypeMultiple()"></p-radio-button>
                    <label [for]="TypeResponse.date" class="ml-2">{{TypeResponse.date}}</label>
                </div>
                <div>
                    <p-radio-button [(ngModel)]="modalForm.typeResponse" [value]="TypeResponse.number"
                        [inputId]="TypeResponse.number" (change)="changeValueTypeMultiple()"></p-radio-button>
                    <label [for]="TypeResponse.number" class="ml-2">{{TypeResponse.number}}</label>
                </div>
            </div>
        </div>
        <div class="flex gap-2">
            <label for="multipleChoice" class="font-semibold  text-nowrap">Opções Múltiplas</label>
            <p-checkbox [(ngModel)]="modalForm.multipleChoice" [inputId]="'multipleChoice'" binary
                [disabled]="modalForm.typeResponse !== TypeResponse.text"
                (change)="changeValueTypeMultiple()"></p-checkbox>
        </div>
        @if(modalForm.multipleChoice) {
        <div class="flex flex-col  gap-4 mb-4">
            <label for="choices" class="font-semibold ">Opções</label>
            <div class="grid grid-cols-1 xl:grid-cols-3 gap-2 items-center">
                @for(item of modalForm.choices; track $index) {
                <div>
                    <input pInputText id="choices" class="flex-auto" autocomplete="off"
                        [(ngModel)]="modalForm.choices![$index]" />
                    <p-button icon="mdi mdi-trash-can" size="small" severity="danger"
                        (click)="modalForm.choices!.splice($index, 1)"></p-button>
                </div>
                }
                <div>
                    <p-button icon="mdi mdi-plus" size="small" severity="success"
                        (click)="modalForm.choices!.push('');"></p-button>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="cancelNewEdit()" />
        <p-button label="Save" (click)="saveNew()" severity="success" />
    </div>
</p-dialog>
<!-- } -->